
@(members: Set[TeamMember], form: Form[TeamMemberForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

  @main("Pair Generator") {

    <h1>Team Members</h1>

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
      <div>@name: @value</div>
    }

    <table>
      <thead>
        <tr><th>Name</th>
      </thead>
      <tbody>
      @for(member <- members) {
        <tr><td>@member.name</td></tr>
      }
      </tbody>
    </table>

    <a href="@routes.PairGeneratorController.index">Done</a>

    <hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div>
          @error.key: @error.message
        </div>
      }
    }

    @helper.form(postUrl) {
      @helper.CSRF.formField

      @helper.inputText(form("name"))

      <button>Add team member</button>
    }

  }
